script.
  try{
    document.write(`<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.css'/>`)
  }catch(e){
    document.write(`<link rel='stylesheet' href='../compiled/angular-material.min.css'/>`)
  }

script.
  try{
    document.write(`<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'/>`)
  }catch(e){
    document.write(`<link rel='stylesheet' href='../compiled/FA.min.css'/>`)
  }
link(rel="stylesheet", href="../compiled/styles.css")
