md-content
  md-list
    md-list-item(ng-mouseenter='Pannel.edit.on(project.name ,$event)' ,ng-mouseleave='Pannel.edit.off(project.name ,$event)',
                ng-repeat='project in Pannel.projects track by project.name' class="md-3-line" ng-click='Pannel.loadProject(project.name)')
      project-edit
      img(ng-src="{{project.icon}}" class="md-avatar")
      div(class="md-list-item-text" layout="column")
        h3 {{ project.name}}
        h4 {{ project.build }}
        p Version {{ project.version}} , files {{ project.files}}
        p {{Pannel.generateDateFormat(project.lastModified)}}
