.project-pannel(ng-controller='PannelController as Pannel')
  header()
    md-content
      section(layout='row' layout-align='center center' style='border-right:1px solid #e0e0e0')
        md-button.md-primary(md-flex='33' flex  ng-click='Pannel.importProject()')
          i.fa.fa-facebook(style='padding-right:10px;')
          span Import Project
        md-button(md-flex='33' flex , ui-sref='project-creator')
          i.fa.fa-facebook(style='padding-right:10px;')
          span New Project
        
  .project-list(project-list='')
    
