.project-edit
  div
    .delete
      i.fa.fa-close
      md-tooltip(md-direction='right') delete {{project.name}}
    .edit
      i.fa.fa-gear
      md-tooltip(md-direction='right') Edit {{project.name}}
