script.
  try{
    document.write(`<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js'><\/script>`)
  }catch(e){
    document.write(`<script src='../compiled/angular.min.js'><\/script>`)
  }
script.
  try{
    document.write(`<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js'><\/script>`)
  }catch(e){
    document.write(`<script src='../compiled/angular-animate.min.js'><\/script>`)
  }
script.
  try{
    document.write(`<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js'><\/script>`)
  }catch(e){
    document.write(`<script src='../compiled/angular-ui-router.min.js'><\/script>`)
  }
script.
  try{
    document.write(`<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js'><\/script>`)
  }catch(e){
    document.write(`<script src='../compiled/angular-material.min.js'><\/script>`)
  }
script.
  try{
    document.write(`<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-aria.min.js'><\/script>`)
  }catch(e){
    document.write(`<script src='../compiled/angular-aria.min.js'><\/script>`)
  }
