
html(ng-app='WDK')
  head
    
    script.
      try{
        document.write(`<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'/>`)
      }catch(e){
        document.write(`<link rel='stylesheet' href='../compiled/FA.min.css'/>`)
      }
    script.
      try{
        document.write(`<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.css'/>`)
      }catch(e){
        document.write(`<link rel='stylesheet' href='../compiled/angular-material.min.css'/>`)
      }  
    script( type="text/javascript" src='https://cdn.socket.io/socket.io-1.4.5.js')
    
    link(rel="stylesheet", href="styles.css")
  body
    .container(ui-view='' ,class='view-page-transition' , ng-cloak)
        
    script.
      let socketIO = io('http://localhost:3000');
      socketIO.on('command-reload',(e) => {
        window.location.reload();
        console.log('reloading');
      });
      

    
    include compiled/fallbacks.jade
    script(src='https://www.gstatic.com/firebasejs/3.2.0/firebase.js')
    script.
      var config = {
      apiKey: "AIzaSyBlbivfTeA-ke0OuUHP014_yYGzlVGB7Ls",
      authDomain: "web-dev-kit.firebaseapp.com",
      databaseURL: "https://web-dev-kit.firebaseio.com"
      };
      firebase.initializeApp(config);
    script(src='main.js')
